# Dependency directory
node_modules
modules/
ts-node--*/
src/**/*.js
*.map
rss.xml
coverage
tmp
bin/tests

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.ssh
*.ppk
v8-compile-cache-0/
Thumbs.db

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
ts-node

# Personal Scripts
*.bat
*.ssh
*.sh

# Editors
.vscode